.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    flex: 0 0 auto;
    overflow: hidden;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    line-height: 3;
    font-weight: bold;
}

.main {
    display: flex;
    flex: 1 0 auto;
    box-sizing: border-box;
    flex-direction: column;
}

.parent {
    color: rgb(10,132, 255);
    font-size: 1.5em;
    margin: 2em 0;
    align-self: center;
}

.tooltip {
    color: rgb(10,132, 255);
}
